atomicwrites
attrs
beautifulsoup41
bs4
certifi5
charset-normalizer
colorama
idna
iniconfig
joblib
lxml
numpy1
packaging
pandas
pluggy
py0
pymongo
pyparsing
pytest
python-dateutil
pytz
requests1
scikit-learn
scipy
six0
sklearn==0.0
soupsieve.post1
threadpoolctl
tomli
urllib311
