atomicwrites
attrs
beautifulsoup4
bs4
certifi
charset-normalizer
colorama
idna
iniconfig
joblib
lxml
numpy
packaging
pandas
pip-chill
pluggy
py
pymongo
pyparsing
pytest
python-dateutil
pytz
requests
scikit-learn
scipy
six
sklearn
soupsieve
threadpoolctl
tomli
urllib3
